services:
  ldap-passworder:
    image: ${IMAGE:-ghcr.io/cupkappu/ldap-passworder:latest}
    container_name: ldap-passworder
    ports:
      - "3344:3000"
    env_file:
      - ./.env.local
    restart: unless-stopped